* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #9c9c9c;
  line-height: 1.6;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}
.container {
  width: 1600px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}
.section-padding {
  padding: 80px 0;
}
.gray-bg {
  background-color: #fafafa;
}
.section-header {
  text-align: center;
  margin-bottom: 60px;
}
.section-header h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}
.service-bg-1 {
  background-image: url("https://images.unsplash.com/photo-1748630312862-fbbd301ed17f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.service-bg-2 {
  background-image: url("https://images.unsplash.com/photo-1699132081991-06676a9d9988?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.service-bg-3 {
  background-image: url("https://images.unsplash.com/photo-1699132081991-06676a9d9988?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.service-bg-4 {
  background-image: url("https://images.unsplash.com/photo-1640477433710-326460cc1c05?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15em), 1fr));
  grid-gap: 1.5em;
}
.service-bg {
  height: 225px;
  background-color: #ddd;
  background-position: center;
  background-size: cover;
  background-size: cover;
}
.single-service-item {
  background: #fff;
}
.service-content {
  padding: 20px;
}
.service-more-btn {
  display: inline-block;
  padding: 10px 0px;
  border-radius: 50px;
  color: #39ca74;
  text-decoration: none;
  margin-top: 20px;
  font-weight: 700;
  transition: 0.3s;
}
.service-more-btn:hover {
  background-color: #39ca74;
  color: #fff;
  padding: 10px 20px;
}
i.fa-solid.fa-arrow-right {
  margin-left: 5px;
}
