* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #9c9c9c;
  line-height: 1.6;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}
.container {
  width: 1170px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px;
}
.section-padding {
  padding: 80px 0;
}
.gray-bg {
  background-color: #fafafa;
}
.section-header {
  text-align: center;
  margin-bottom: 60px;
}
.section-header h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}
.service-bg-1 {
  background-image: url("https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.service-bg-2 {
  background-image: url("https://images.pexels.com/photos/3183181/pexels-photo-3183181.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.service-bg-3 {
  background-image: url("https://images.pexels.com/photos/7644084/pexels-photo-7644084.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
}
.service-bg-4 {
  background-image: url("https://images.pexels.com/photos/6592554/pexels-photo-6592554.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15em), 1fr));
  grid-gap: 1.5em;
}
.service-bg {
  height: 210px;
  background-color: #ddd;
  background-position: center;
  background-size: cover;
  background-size: cover;
  object-fit: cover;
}
.single-service-item {
  background: #fff;
  transition: 0.3s;
  border-radius: 5px;
  overflow: hidden;
}
.single-service-item:hover {
  box-shadow: 0 0 20px #39ca7357;
}
.service-content {
  padding: 20px;
}
.service-content h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}
.service-content p {
  font-size: 16px;
  color: #8b8b8b;
  /* margin-bottom: 20px; */
}
.service-more-btn {
  display: inline-block;
  padding: 10px 0px;
  border-radius: 50px;
  color: #39ca74;
  text-decoration: none;
  margin-top: 20px;
  font-weight: 400;
  transition: 0.3s;
}
.service-more-btn:hover {
  background-color: #39ca74;
  color: #fff;
  padding: 10px 20px;
}
i.fa-solid.fa-arrow-right {
  margin-left: 5px;
}
